.mainDiv{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #63738b;
    padding-top: 100;
}
.subDiv{
    height: 650px;
width: 450px;
background-color: #f2f3f7;
padding-right: 20px;
padding-left: 20px;
}
.subDiv2{display: flex;
    flex-direction: row;}
.view{
    margin-top: 70px;
    height: 3px;
    width: 50%;
    background-color:grey;;
}
.name{
    margin-top: 50px;
    width: 40%;
    text-align: center;
    font-size:xx-large;
    color: gray;
}
.subtitle{
    text-align: center;
    margin-top: 15;
    color: gray;
    font-size: larger;
}
.subDiv3{
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
  }